/* reset.css를 import하여 모든 css를 초기화시키고 0으로 만듦. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import 'reset.css';
@import 'status-bar.css';
@import 'header.css';
@import 'nav-bar.css';
@import 'friend.css';

/* 모든 element에 추가할 style css 사항 */
* {
    /* 원래는 박스 width를 300px padding을 20px 준다치면 브라우저가 width를 320px로 늘려버림
    또한 이렇게 되면 문제는 20px 안쪽에 있던 내부 컨텐츠가 보이지 않게 됨.
    /* 따라서 box-sizing: boder-box;를 사용! */
    /* '브라우저야! 내가 padding 등을 추가하지만 box는 더 크게 만들지(overcompensate) 말아줘!' 라는 의미에서 사용! */
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 10px 20px;
    color: #020202;
    /* Open Sans 폰트가 있으면 쓰고 없으면 그 옆 폰트부터 차례로 검색하여 있으면 쓰겠다는 말. */
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
